.z-0 {
  z-index: 0;
}

.z-100 {
  z-index: 100;
}

.t-0 {
  top: 0;
}

.h-100vh {
  min-height: 100vh;
}

.h-75vh {
  min-height: 75vh;
}

.h-50vh {
  min-height: 50vh;
}

.h-25vh {
  min-height: 25vh;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
