@import "variables";
@import "global";

//fonts-init
/* latin-ext */
@font-face {
  font-family: 'AbrilFatface';
  font-style: normal;
  font-weight: 400;
  src: local('AbrilFatface'), local('AbrilFatface-Regular'), url(../fonts/AbrilFatface-ext_latin.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'AbrilFatface';
  font-style: normal;
  font-weight: 400;
  src: local('AbrilFatface'), local('AbrilFatface-Regular'), url(../fonts/AbrilFatface-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-ext_latin.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navbar-top {

  button:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    width: 51px;
    height: 50px;
    background-image: url(../img/navbar-toggler-icon.png);
  }

  .navbar-nav {
    width: 300px;
    height: 55px;
    background-image: url(../img/navbar-top.png);

    &.bg-transparent {
      border-radius: 10px;
      width: 40% !important;
      background: rgba(50, 50, 50, 0.5) !important;
    }

    a {
      font-family: $roboto;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
    }

    .active {
      color: #fd7e14;
    }
  }
}

.header-main {
  background-image: url("../img/header-main.jpg");
  color: #ffffff;

  h1 {
    font-family: $abril;
    font-size: 51px;
    font-weight: normal;
    text-align: left;
    text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
    @media (max-width: 768px) {
      font-size: 34px;
    }
    @media (max-width: 380px) {
      font-size: 28px;
    }
  }

  p {
    font-family: $roboto;
    font-size: $fontSizeMain;
    font-weight: 300;
    text-align: left;
    text-shadow: 0 2px 4px rgba(16, 16, 16, 0.75);
    //@media (max-width: 768px) {
    //  font-size: 12px;
    //}
  }

  button {
    width: 220px;
    height: 60px;
    border-radius: 3px;
    background-color: #c19663;
    //border: solid 3px #c19663;

    font-family: Roboto, sans-serif;
    font-size: $fontSizeMain;
    font-weight: 900;
    line-height: 1.67;
    letter-spacing: 1.8px;
    color: #ffffff;

    border: none;
    &:hover, &:focus {
      background-color: darken(#998675, 20%);
      box-shadow: inset 0px -3px 0 0 darken(#736357, 20%);
    }
  }
}

.dishes {

  h2 {
    font-family: AbrilFatface, cursive;
    font-size: 42px;
    font-weight: normal;
    line-height: 0.71;
    color: #333333;
  }

  .nav-link {
    font-family: Roboto, sans-serif;
    font-size: $fontSizeMain;
    font-weight: 900;
    line-height: 1.67;
    letter-spacing: 1.8px;
    color: #999999;
    border: solid 2px transparent;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 380px) {
      font-size: 8px;
    }
    &.active {
      color: #333333;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 2px #373737;
    }
    &:hover {
      background-color: darken(#eeeeee, 10%);
    }
  }

  .slick-next {
    z-index: 1;
    top: 110px;

    &::before {
      content: '';
      display: block;
      background: url("../img/next-arrow.png") no-repeat;
      width: $fontSizeSmall;
      height: 25px;
    }
  }

  .slick-prev {
    z-index: 1;
    top: 110px;

    &::before {
      content: '';
      display: block;
      background: url("../img/prev-arrow.png") no-repeat;
      width: $fontSizeSmall;
      height: 25px;
    }
  }

  .card {
    width: 220px !important;
    border: transparent;

    .card-img-top {
      width: 220px;
      height: 220px;
    }

    &:hover {
      background-color: darken(#eeeeee, 5%);

    }
  }
}

.quotes {

  .slide-quotes {
    background-image: url("../img/chef.jpg");
  }

  font-family: Roboto, sans-serif;
  font-weight: normal;

  h5 {
    font-size: 21px;
    font-style: italic;
    line-height: 1.43;
    color: #f5eae9;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  p {
    font-size: $fontSizeSmall;
    font-style: normal;
    line-height: 2;
    color: #ffffff;
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.features {

  h2 {
    font-family: AbrilFatface, cursive;
    font-size: 42px;
    font-weight: normal;
    line-height: 0.71;
    color: #333333;
  }

  font-family: Roboto, sans-serif;
  font-size: $fontSizeMain;
  font-weight: normal;
  color: #333333;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 12px;
  }

}

.fish {
  background-image: url("../img/fish.jpg");

  //.fish-resize {
  //  @media (max-width: 500px) {
  //    height: 75% !important;
  //  }
  //  @media (max-width: 380px) {
  //    height: 100% !important;
  //  }
  //}

  .ad-fish {
    background-color: #c19663;
    font-family: $roboto;
    font-weight: normal;
    color: #ffffff;

    h5 {
      font-size: 21px;
      line-height: 1.43;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    span {
      font-size: $fontSizeSmall;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}

.booking {
  background-image: url("../img/booking.jpg");

  //.booking-resize {
  //  @media (max-width: 380px) {
  //    height: 75% !important;
  //  }
  //}

  h5 {
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 4px 6px rgba(16, 16, 16, 0.75);
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  h1 {
    font-family: AbrilFatface, cursive;
    font-size: 42px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 4px 6px rgba(16, 16, 16, 0.75);
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
}

.footer {
  background-color: #333333;

  font-family: Roboto, sans-serif;
  font-weight: normal;

  a {
    font-size: $fontSizeMain;
    color: #ffffff;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .copyright {
    font-size: $fontSizeSmall;
    color: #fefefe;
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

}

#toTop {
  width: 100px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.3);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px; /* отступ кнопки от нижнего края страницы*/
  right: 10px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: $fontSizeSmall;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block; /* undo display:none          */
  height: 0; /* height:0 is also invisible */
  overflow: hidden; /* no-overflow                */
}

.tab-content > .active, .pill-content > .active {
  height: auto; /* let the content decide it  */
}

/* bootstrap hack end */